@import "reset";

body {
  background: black;
}

#clock-face {
  background: white;
  width: 500px;
  height: 500px;
  margin: 260px auto 0 auto;
  border-radius: 100%;
  position: relative;
  background-clip: border-box;
  box-shadow: inset 16px 3px 15px rgba(0, 0, 0, 0.4);
}

#clock-face::before {
  position: absolute;
  top: -35px; bottom: -35px;
  left: -35px; right: -35px;
  background: linear-gradient(to top, #817f80 10%, #e1e1e3, 80%, #817f80);
  content: '';
  z-index: -1;
  border-radius: 100%;
}

.hands {
  position: absolute;
  top: 247.5px;
}

#clock-face .hands:nth-child(1) {
  height: 3px;
  width: 300px;
  z-index: 2;
  right: 175px;
  transform-origin: 225px 1.5px;
  background: red;
  animation: 60s infinite secondsHandRotate steps(60, end);
}

#clock-face .hands:nth-child(2) {
  height: 5px;
  width: 220px;
  right: 220px;
  transform-origin: 190px 2.5px;
  z-index: 1;
  background: black;
  animation: 3600s infinite minutesHandRotate steps(60, end);
}

#clock-face .hands:nth-child(3) {
  height: 5px;
  width: 190px;
  right: 220px;
  transform-origin: 160px 2.5px;
  z-index: 1;
  background: black;
  animation: 21600s infinite hoursHandRotate;
}

.large_segments, .small_segments {
  background: black;
  position: absolute;
  top: 248px;
}

.large_segments { 
  height: 5px;
  width: 25px;
  right: 465px;
  transform-origin: 240px 2.5px;
}

.small_segments {
  height: 3px;
  width: 10px;
  right: 480px;
  transform-origin: 240px 1.5px;
}

@for $i from 1 through 59 {
  #clock-face div:nth-child(#{$i+4}) {
    transform: rotate($i * 6deg);
  }
}

#circle {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: red;
  position: absolute;
  right: 243.5px;
  top: 242px;
  z-index: 1;
  }

@media screen and (max-width: 633px) {

  #clock-face {
    background: white;
    width: 80vw;
    height: 80vw;
    margin: 260px auto 0 auto;
    border-radius: 100%;
    position: relative;
    background-clip: border-box;
    box-shadow: inset 2.56vw 0.48vw 2.4vw rgba(0, 0, 0, 0.4);
  }
  
  #clock-face::before {
    position: absolute;
    top: -5.6%; bottom: -5.6%;
    left: -5.6%; right: -5.6%;
    background: linear-gradient(to top, #817f80 10%, #e1e1e3, 80%, #817f80);
    content: '';
    z-index: -1;
    border-radius: 100%;
  }
  
  .hands {
    position: absolute;
    top: 39.6vw;
  }
  
  #clock-face .hands:nth-child(1) {
    height: 0.48vw;
    width: 48vw;
    z-index: 2;
    right: 28vw;
    transform-origin: 36vw 0.24vw;
    background: red;
    animation: 60s infinite secondsHandRotate steps(60, end);
  }
  
  #clock-face .hands:nth-child(2) {
    height: 0.8vw;
    width: 35.2vw;
    right: 35.2vw;
    transform-origin: 30.4vw 0.4vw;
    z-index: 1;
    background: black;
    animation: 3600s infinite minutesHandRotate steps(60, end);
  }
  
  #clock-face .hands:nth-child(3) {
    height: 0.8vw;
    width: 30.4vw;
    right: 35.2vw;
    transform-origin: 25.6vw 0.4vw;
    z-index: 1;
    background: black;
    animation: 21600s infinite hoursHandRotate;
  }
  
  .large_segments, .small_segments {
    background: black;
    position: absolute;
    top: 39.68vw;
  }
  
  .large_segments { 
    height: 0.8vw;
    width: 4vw;
    right: 74.4vw;
    transform-origin: 38.4vw 0.4vw;
  }
  
  .small_segments {
    height: 0.48vw;
    width: 1.6vw;
    right: 76.8vw;
    transform-origin: 38.4vw 0.24vw;
  }
  
  #circle {
    height: 2.4vw;
    width: 2.4vw;
    border-radius: 100%;
    background: red;
    position: absolute;
    right: 38.96vw;
    top: 38.72vw;
    z-index: 1;
    }



}